* {
    outline: none;
}

body {
    /*background-color: #0F1145;*/
    background: linear-gradient(12deg, #040D3E 14%, #3B1D60 95%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    font-family: 'Rubik', serif;
}

header {
    margin-top: 79px;
}

.first-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.first-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-header-left>img {
    height: 36px;
    width: 36px;
}

.first-header-left-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px
}

.first-header-left-buttons>a {
    padding: 0 20px;
    color: #B5B5B5;
    text-decoration: none;
}

.first-header-right-buttons {
    display: flex;
}

.first-header-right-buttons>div {
    height: 40px;
    width: 112px;
    border: 1px solid #F2994A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-in {
    margin: 0 20px;
    color: #F2994A;
}

.sing-up {
    background-color: #F2994A;
    color: white;
}

.frame-1 {
    display: flex;
}

.bisiness-reason {
    width: 51%;
}

.busines-but {
    display: flex;
    flex-direction: row;
}

.business-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 46px;
    border: 1px solid #F2994A;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
}

.business-button.one {
    color: white;
    background-color: #F2994A;
}

.business-button.two {
    color: #F2994A;
    margin-left: 20px;
}

.title-bis {
    font-size: 44px;
    color: #99EFD0;
    font-weight: bold;
}

.desc {
    color: #8476AA;
    font-size: 18px;
}

.run-man {
    position: absolute;
    left: 52%;
}

main {
    height: 500px;
}